@import "../../assets/css/common.scss";
.blog_item{
  width: 100%;
  background: #fff;
  box-shadow: $box-shadow;
  text-align: center;
  padding-bottom: 10px;
  border-radius: 3px;
  .blog_item_title{
    font-size: 18px;
    color: $title;
    line-height: 20px;
    padding: 20px 0 10px;
  }
  .blog_item_info{
    font-size: 12px;
    line-height: 30px;
    color: $title;
    span{
      color: $active-blue;
    }
  }
  .blog_item_content{
    font-size: 14px;
    max-height: 40px;
    line-height: 20px;
    color: $content;
    padding: 0 10px 20px;
    overflow: hidden;
    display:-webkit-box;
    text-overflow: ellipsis;
    text-indent: 2rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient:vertical;
  }
}
